body {
    background: url('../images/background1.jpg') center center fixed;
    text-align: center;
    background-size: cover;
}

#wrapper {
    width: 1200px;
    height: 600px;
    margin: 0px auto;
    border: 1px solid red;
    display: none;
}

.team-athena-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin: 0px auto;
    color: #61B3FF;
}

#beerSpriteSheet {
    display: none;
}

#smurfWalkingSheet {
    display: none;
}

#obstacle {
    display: none;
}

#beerCanvas {
    width: 1200px;
    height: 600px;
    z-index: 10;
    position: absolute;
}

#smurfCanvas {
    width: 1200px;
    height: 600px;
    z-index: 10;
    position: absolute;
}

#obstacleCanvas {
    width: 1200px;
    height: 600px;
    z-index: 10;
    position: absolute;
}

#background {
    display: none;
}

#background-canvas {
    z-index: 1;
    position: relative;
}

#caughtBeers {
    display: none;
    color: white;
    float: left;
}

#smurfJumpingSheet {
    display: none;
}
#gameOver {
     display: none;
 }
#win {
    display: none;
}
#hightscores {
    display: none;
    color: white;
    float: left;
    margin-left: 50px;
}

audio {
    display: none;
}

#lives {
    margin-left: 50px;
    margin-right: 5px;
    margin-top: 15px;
    float: left;
}
#live {
    display: none;
    float: left;
    color: white;
}

