body {
    background-image: url('../images/background1.jpg');
    text-align: center;
}

#wrapper {
    width: 1200px;
    height: 600px;
    margin: 0px auto;
    border: 1px solid red;
    display: none;
}

#team-athena-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin: 0px auto;
    color: white;
}

#beerSpriteSheet {
    display: none;
}

#smurfWalkingSheet {
    display: none;
}

#beerCanvas {
    width: 1200px;
    height: 600px;
    z-index: 10;
    position: absolute;
}

#smurfCanvas {
    width: 1200px;
    height: 600px;
    z-index: 10;
    position: absolute;
}

#background {
    display: none;
}

#background-canvas {
    z-index: 1;
    position: relative;
}

#caughtBeers {
    display: none;
    color: white;
    float: left; 
}